body{
    background-color: black;
    display: flex;    
    justify-content: center;
    text-align: center;
}
.ap input{
    display: block;
}
.apple{
    background-color: aliceblue;
    padding:100px;
    box-shadow: 10px 10px 10px rgb(22, 166, 223);  
}
.apple input{   
    margin: 30px auto;    
}
.ap2{
    display: block;
 }




